.DefaultItem {background-color: silver;border: 1px solid #000;border-radius: 5px;color: #000;float: right;height: 120px;margin:3px;text-align: center;width: 120px;}
.DefaultItem:hover {background-color: #daeffe;}
.DefaultItem img {padding:3px;height:70px;width:70px;}

.panelPage{ text-align: center;padding: 5px 2px}
.panelPage span a,.panelPage span span{padding: 2px 8px;margin: 2px;background-color: #9ef;border: #666 1px groove;border-radius: 5px;color: #333;text-decoration: none;cursor: pointer;display: table-cell}
.panelPage span a:hover{ background-color: #8ad;}
.panelPage span span{color: red}

/***************************************************************/
/***************************************************************/
/***************************************************************/
.companrep{float:right;padding: 2px}
.companrep div{float:right;width:300px}

.comlab{font-weight:bolder;margin:5px;padding:5px}
.comlist{border-radius:5px;float:right;margin:2px;padding:5px;width:99%;background-color:#def}
.comlistTR{float:right;color:#888}
.comlistTR img{float:right;height:25px;margin:0 3px}
.comlistTL{float:left;font-size:.85em;color:#444}
.comlistTL img{float:left;height:16px;margin:3px}
.comtext{color:#000;padding:6px}
.comemail{direction:ltr;float:left;font-size:.85em;margin:1px 3px;color:#333;width:310px}
.comemail img{float:left;height:16px;margin:3px}
.comemail a{color:#333}
.comuserrep{direction:ltr;float:left;font-size:.85em;margin:1px 3px;color:#333;width:190px}
.companbut{float:right}
/***************************************************************/
.groupDiv1,.groupDiv2,.lanDiv1,.lanDiv2{width:360px;padding:2px;margin:5px;border:1px solid #aaa;background-color:#fef;float:right}
.groupDiv2,.lanDiv2{width:345px;height: 210px;overflow: auto}
.grouptit,.lantit{color: #a3a;text-align:center;font-weight:bold}
/*.grouppnl,.lanpnl{float:right;margin:1px;padding:2px}*/
/***************************************************************/
.statpanl1{float:right;padding:5px;background-color:#def}
.statpanl1 div div{float:right;width:240px}
.statpanl2{padding:5px;background-color:#def}
.statvtable{width:770px}
.statvtable samp{width:110px;border:1px solid #666;display:table-cell;text-align:center}
/***************************************************************/

/***************************************************************/
.userDiv{float:right}
.userView{display:inline-table;padding:5px 10px;width:200px}
.useritemd{display:inline-flex;width: auto;border: 1px solid #333;background-color: #daeffe;padding: 3px 1px}
.useritemd div,.useritemd input{float: left;margin: 1px;text-align: center;width:70px;}
.userw100{ width: 170px;display: flex;direction: rtl}
/***************************************************************/
.passDiv{text-align:center}
/***************************************************************/
.editbooksearcher{padding: 2px 10px}
.editbookta{background-color:#acf;display: inline-block}
.editbooktb{background-color:#bee;display: inline-block}
.editbooktc{ background-color: #bcc;display: inline-block}
.editbookt1,.editbookt2,.editbookt3,.editbookt4,.editbookt5,.editbookt6{border:1px solid #666;display:table-cell;text-align:center}
.editbookt1{width:370px}
.editbookt2{width:300px}
.editbookt3,.editbookt4,.editbookt6{width:81px}
.editbookt5{width:35px}
.editbookt6 img{width:16px;padding:1px 5px}
/***************************************************************/
.infobookpan div{padding:2px 5px;}
.infobookpan i{display: inline-block;width: 100px}
.infobookgrouptit{float:right;padding:2px;margin:5px;width:365px;border:1px solid #aaa;background-color:#fef}
.infobookgrouplist{padding:2px;margin:2px;height:150px;background-color:#eee;border:1px solid #aaa;overflow:scroll}
/***************************************************************/
.EditTextInfo div{float:right;padding:1px 9px;}
.EditTextTitle{width:99%;padding:4px 0;text-align:center;font-weight:700;border:1px solid #8ad;background-color:#9ef}
.EditTextDivItems{float: right}
.EditTextItem{border:1px outset #999;padding-right: 1px;background-color: #acf;padding:2px 0;width: 99%;display: inline-block}
.EditTextItem:hover{background-color:#acc}
/*.EditTextItem samp{ float: right;width:90%}*/
.EditTextItem a{padding-right:5px;float: left}
.EditTextItem a:hover{ color: red}
.EditTextTxtboxTitle{width:100%;border: 1px solid #999;border-radius: 5px;margin: 1px;}
.Editbookddd{ position: absolute;background-color: #eb8;border: 1px cornflowerblue ridge;padding: 5px;margin: 10%;top: 0;left: 0;right: 0}