
.listgroup{display:inline-block}
.listgroup a{float:right;padding:1px 5px;width:120px;}

.listBookpic {display:inline-block}
.listBookpic a {float:right;padding:1px 5px}
.listBookpic a p{float:right;padding:1px 5px}
.listBookpic a img{float:right;padding:1px 5px}

.listbook{display:inherit}
.listbook a{display:block}

.bsn-icon{float:right;padding:2px;margin:2px;width:370px }
.bsn-icon ul{float:right;margin:60px 0 0 0;padding: 0 25px 0 0;}
.bsn-icon a{text-decoration:none;color:#333;display:flex}
.bsn-icon a:hover{color:#a33}
.bsn-icon img {height:300px;float:right}

.t2{}
.t2 p{display:inline-block;padding:2px}
.t2 img{text-align:center}


.direction-rtl{direction:rtl}
.direction-rtl{direction:ltr}

.float-left{float:left}
.float-right{float:right}
.float-None{float:none}
.float-inherit{float:inherit}

.position-fixed{position:fixed}


.panelPage{text-align: center;}

.panelPage a{background-color:aqua}

/******* set font css ********/

/******* Link css ********/
.link-1{}
.link-1:hover{text-decoration: none;text-shadow: 2px 2px 8px #f00}

/******** border css *********/
.border-none{border-style:none}
.border-hidden{border-style:hidden}
.border-dotted{border-style:dotted}
.border-dashed{border-style:dashed}
.border-solid{border-style:solid}
.border-double{border-style:double}
.border-groove{border-style:groove}
.border-ridge{border-style:ridge}
.border-inset{border-style:inset}
.border-outset{border-style:outset}
.border-initial{border-style:initial}
.border-inherit{border-style:inherit}

.border-color-1{border-color:#000}
.border-color-4{border-color:#444}
.border-color-8{border-color:#888}
.border-color-c{border-color:#ccc}
.border-color-fff{border-color:#fff}
.border-color-ff0{border-color:#ff0}
.border-color-f0f{border-color:#f0f}
.border-color-f00{border-color:#f00}
.border-color-0ff{border-color:#0ff}
.border-color-00f{border-color:#00f}

.border-c{border:1px solid #ccc}.border-8{border:1px solid #888}.border-4{border:1px solid #444}.border-1{border:1px solid #111}
.border-o-c{border:1px outset #ccc}.border-o-8{border:1px outset #888}.border-o-4{border:1px outset #444}.border-o-1{border:1px outset #111}
.border-i-c{border:1px inset #ccc}.border-i-8{border:1px inset #888}.border-i-4{border:1px inset #444}.border-i-1{border:1px inset #111}

/******** shadow css *********/
.text-shado-008{text-shadow: 2px 2px 8px #008;}
.text-shado-080{text-shadow: 2px 2px 8px #080;}
.text-shado-088{text-shadow: 2px 2px 8px #088;}
.text-shado-800{text-shadow: 2px 2px 8px #800;}
.text-shado-808{text-shadow: 2px 2px 8px #808;}
.text-shado-880{text-shadow: 2px 2px 8px #880;}

.text-shado-1{text-shadow: 2px 2px 8px #111;}
.text-shado-4{text-shadow: 2px 2px 8px #444;}
.text-shado-8{text-shadow: 2px 2px 8px #888;}
.text-shado-c{text-shadow: 2px 2px 8px #ccc;}


.shadow-box-c{-moz-box-shadow: 5px 5px 5px #ccc;-webkit-box-shadow: 5px 5px 5px #ccc;box-shadow: 5px 5px 5px #ccc;}
.shadow-box-8{-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;}
.shadow-box-4{-moz-box-shadow: 5px 5px 5px #444;-webkit-box-shadow: 5px 5px 5px #444;box-shadow: 5px 5px 5px #444;}
.shadow-box-1{-moz-box-shadow: 5px 5px 5px #111;-webkit-box-shadow: 5px 5px 5px #111;box-shadow: 5px 5px 5px #111;}

/********* size css *********/
.font-size-em-05{font-size:0.5em}.font-size-em-06{font-size:0.6em}.font-size-em-07{font-size:0.7em}.font-size-em-08{font-size:0.8em}.font-size-em-09{font-size:0.9em}
.font-size-em-10{font-size:1.0em}.font-size-em-11{font-size:1.1em}.font-size-em-12{font-size:1.2em}.font-size-em-13{font-size:1.3em}.font-size-em-14{font-size:1.4em}.font-size-em-15{font-size:1.5em}.font-size-em-16{font-size:1.6em}.font-size-em-17{font-size:1.7em}.font-size-em-18{font-size:1.8em}.font-size-em-19{font-size:1.9em}
.font-size-em-20{font-size:2.0em}.font-size-em-21{font-size:2.1em}.font-size-em-22{font-size:2.2em}.font-size-em-23{font-size:2.3em}.font-size-em-24{font-size:2.4em}.font-size-em-25{font-size:2.5em}.font-size-em-26{font-size:2.6em}.font-size-em-27{font-size:2.7em}.font-size-em-28{font-size:2.8em}.font-size-em-29{font-size:2.9em}
.font-size-em-30{font-size:3.0em}.font-size-em-31{font-size:3.1em}.font-size-em-32{font-size:3.2em}.font-size-em-33{font-size:3.3em}.font-size-em-34{font-size:3.4em}.font-size-em-35{font-size:3.5em}.font-size-em-36{font-size:3.6em}.font-size-em-37{font-size:3.7em}.font-size-em-38{font-size:3.8em}.font-size-em-39{font-size:3.9em}
.font-size-em-40{font-size:4.0em}

.font-size-5{font-size:5px}.font-size-6{font-size:6px}.font-size-7{font-size:7px}.font-size-8{font-size:8px}.font-size-9{font-size:9px}
.font-size-10{font-size:10px}.font-size-11{font-size:11px}.font-size-12{font-size:12px}.font-size-13{font-size:13px}.font-size-14{font-size:14px}.font-size-15{font-size:15px}.font-size-16{font-size:16px}.font-size-17{font-size:17px}.font-size-18{font-size:18px}.font-size-19{font-size:19px}
.font-size-20{font-size:20px}.font-size-21{font-size:21px}.font-size-22{font-size:22px}.font-size-23{font-size:23px}.font-size-24{font-size:24px}.font-size-25{font-size:25px}.font-size-26{font-size:26px}.font-size-27{font-size:27px}.font-size-28{font-size:28px}.font-size-29{font-size:29px}
.font-size-30{font-size:30px}.font-size-31{font-size:31px}.font-size-32{font-size:32px}.font-size-33{font-size:33px}.font-size-34{font-size:34px}.font-size-35{font-size:35px}

.width-pt-10{width:10%}.width-pt-20{width:20%}.width-pt-25{width:25%}
.width-pt-30{width:30%}.width-pt-40{width:40%}.width-pt-50{width:50%}
.width-pt-60{width:60%}.width-pt-70{width:70%}.width-pt-75{width:75%}
.width-pt-80{width:80%}.width-pt-90{width:90%}.width-pt-100{width:100%}



.width-5{width:5px}.width-8{width:8px}
.width-10{width:10px}.width-15{width:15px}.width-20{width:20px}.width-25{width:25px}.width-30{width:30px}.width-35{width:35px}.width-40{width:40px}.width-45{width:45px}.width-50{width:50px}.width-60{width:60px}.width-70{width:70px}.width-80{width:80px}.width-90{width:90px}
.width-100{width:100px}.width-110{width:110px}.width-120{width:120px}.width-130{width:130px}.width-140{width:140px}.width-150{width:150px}.width-160{width:160px}.width-170{width:170px}.width-180{width:180px}.width-190{width:190px}
.width-200{width:200px}.width-210{width:210px}.width-220{width:220px}.width-230{width:230px}.width-240{width:240px}.width-250{width:250px}.width-260{width:260px}.width-270{width:270px}.width-280{width:280px}.width-290{width:290px}
.width-300{width:300px}.width-310{width:310px}.width-320{width:320px}.width-330{width:330px}.width-340{width:340px}.width-350{width:350px}.width-360{width:360px}.width-370{width:370px}.width-380{width:380px}.width-390{width:390px}
.width-400{width:400px}.width-425{width:425px}.width-450{width:450px}.width-475{width:475px}
.width-500{width:500px}.width-525{width:525px}.width-550{width:550px}.width-575{width:575px}
.width-600{width:600px}.width-625{width:625px}.width-650{width:650px}.width-675{width:675px}
.width-700{width:700px}.width-725{width:725px}.width-750{width:750px}.width-775{width:775px}
.width-800{width:800px}.width-825{width:825px}.width-850{width:850px}.width-875{width:875px}
.width-900{width:900px}.width-925{width:925px}.width-950{width:950px}.width-975{width:975px}
.width-1000{width:1000px}

.max-width-5{max-width:5px}.max-width-8{max-width:8px}
.max-width-10{max-width:10px}.max-width-15{max-width:15px}.max-width-20{max-width:20px}.max-width-25{max-width:25px}.max-width-30{max-width:30px}.max-width-35{max-width:35px}.max-width-40{max-width:40px}.max-width-45{max-width:45px}.max-width-50{max-width:50px}.max-width-60{max-width:60px}.max-width-70{max-width:70px}.max-width-80{max-width:80px}.max-width-90{max-width:90px}
.max-width-100{max-width:100px}.max-width-110{max-width:110px}.max-width-120{max-width:120px}.max-width-130{max-width:130px}.max-width-140{max-width:140px}.max-width-150{max-width:150px}.max-width-160{max-width:160px}.max-width-170{max-width:170px}.max-width-180{max-width:180px}.max-width-190{max-width:190px}
.max-width-200{max-width:200px}.max-width-210{max-width:210px}.max-width-220{max-width:220px}.max-width-230{max-width:230px}.max-width-240{max-width:240px}.max-width-250{max-width:250px}.max-width-260{max-width:260px}.max-width-270{max-width:270px}.max-width-280{max-width:280px}.max-width-290{max-width:290px}
.max-width-300{max-width:300px}.max-width-310{max-width:310px}.max-width-320{max-width:320px}.max-width-330{max-width:330px}.max-width-340{max-width:340px}.max-width-350{max-width:350px}.max-width-360{max-width:360px}.max-width-370{max-width:370px}.max-width-380{max-width:380px}.max-width-390{max-width:390px}
.max-width-400{max-width:400px}.max-width-425{max-width:425px}.max-width-450{max-width:450px}.max-width-475{max-width:475px}
.max-width-500{max-width:500px}.max-width-525{max-width:525px}.max-width-550{max-width:550px}.max-width-575{max-width:575px}
.max-width-600{max-width:600px}.max-width-625{max-width:625px}.max-width-650{max-width:650px}.max-width-675{max-width:675px}
.max-width-700{max-width:700px}.max-width-725{max-width:725px}.max-width-750{max-width:750px}.max-width-775{max-width:775px}
.max-width-800{max-width:800px}.max-width-825{max-width:825px}.max-width-850{max-width:850px}.max-width-875{max-width:875px}
.max-width-900{max-width:900px}.max-width-925{max-width:925px}.max-width-950{max-width:950px}.max-width-975{max-width:975px}
.max-width-1000{max-width:1000px}

.height-pt-10{height:10%}.height-pt-20{height:20%}.height-pt-25{height:25%}
.height-pt-30{height:30%}.height-pt-40{height:40%}.height-pt-50{height:50%}
.height-pt-60{height:60%}.height-pt-70{height:70%}.height-pt-75{height:75%}
.height-pt-80{height:80%}.height-pt-90{height:90%}.height-pt-100{height:100%}

.height-5{height:5px}.height-8{height:8px}
.height-10{height:10px}.height-15{height:15px}.height-20{height:20px}.height-25{height:25px}.height-30{height:30px}.height-35{height:35px}.height-40{height:40px}.height-45{height:45px}.height-50{height:50px}.height-60{height:60px}.height-70{height:70px}.height-80{height:80px}.height-90{height:90px}
.height-100{height:100px}.height-110{height:110px}.height-120{height:120px}.height-130{height:130px}.height-140{height:140px}.height-150{height:150px}.height-160{height:160px}.height-170{height:170px}.height-180{height:180px}.height-190{height:190px}
.height-200{height:200px}.height-210{height:210px}.height-220{height:220px}.height-230{height:230px}.height-240{height:240px}.height-250{height:250px}.height-260{height:260px}.height-270{height:270px}.height-280{height:280px}.height-290{height:290px}
.height-300{height:300px}.height-310{height:310px}.height-320{height:320px}.height-330{height:330px}.height-340{height:340px}.height-350{height:350px}.height-360{height:360px}.height-370{height:370px}.height-380{height:380px}.height-390{height:390px}
.height-400{height:400px}.height-425{height:425px}.height-450{height:450px}.height-475{height:475px}
.height-500{height:500px}.height-525{height:525px}.height-550{height:550px}.height-575{height:575px}
.height-600{height:600px}.height-625{height:625px}.height-650{height:650px}.height-675{height:675px}
.height-700{height:700px}.height-725{height:725px}.height-750{height:750px}.height-775{height:775px}
.height-800{height:800px}.height-825{height:825px}.height-850{height:850px}.height-875{height:875px}
.height-900{height:900px}.height-925{height:925px}.height-950{height:950px}.height-975{height:975px}
.height-1000{height:1000px}

.max-height-5{max-height:5px}.max-height-8{max-height:8px}
.max-height-10{max-height:10px}.max-height-15{max-height:15px}.max-height-20{max-height:20px}.max-height-25{max-height:25px}.max-height-30{max-height:30px}.max-height-35{max-height:35px}.max-height-40{max-height:40px}.max-height-45{max-height:45px}.max-height-50{max-height:50px}.max-height-60{max-height:60px}.max-height-70{max-height:70px}.max-height-80{max-height:80px}.max-height-90{max-height:90px}
.max-height-100{max-height:100px}.max-height-110{max-height:110px}.max-height-120{max-height:120px}.max-height-130{max-height:130px}.max-height-140{max-height:140px}.max-height-150{max-height:150px}.max-height-160{max-height:160px}.max-height-170{max-height:170px}.max-height-180{max-height:180px}.max-height-190{max-height:190px}
.max-height-200{max-height:200px}.max-height-210{max-height:210px}.max-height-220{max-height:220px}.max-height-230{max-height:230px}.max-height-240{max-height:240px}.max-height-250{max-height:250px}.max-height-260{max-height:260px}.max-height-270{max-height:270px}.max-height-280{max-height:280px}.max-height-290{max-height:290px}
.max-height-300{max-height:300px}.max-height-310{max-height:310px}.max-height-320{max-height:320px}.max-height-330{max-height:330px}.max-height-340{max-height:340px}.max-height-350{max-height:350px}.max-height-360{max-height:360px}.max-height-370{max-height:370px}.max-height-380{max-height:380px}.max-height-390{max-height:390px}
.max-height-400{max-height:400px}.max-height-425{max-height:425px}.max-height-450{max-height:450px}.max-height-475{max-height:475px}
.max-height-500{max-height:500px}.max-height-525{max-height:525px}.max-height-550{max-height:550px}.max-height-575{max-height:575px}
.max-height-600{max-height:600px}.max-height-625{max-height:625px}.max-height-650{max-height:650px}.max-height-675{max-height:675px}
.max-height-700{max-height:700px}.max-height-725{max-height:725px}.max-height-750{max-height:750px}.max-height-775{max-height:775px}
.max-height-800{max-height:800px}.max-height-825{max-height:825px}.max-height-850{max-height:850px}.max-height-875{max-height:875px}
.max-height-900{max-height:900px}.max-height-925{max-height:925px}.max-height-950{max-height:950px}.max-height-975{max-height:975px}
.max-height-1000{max-height:1000px}


.width-min-50{min-width:50px}.width-min-75{min-width:75px}
.width-min-100{min-width:100px}.width-min-125{min-width:125px}.width-min-150{min-width:150px}.width-min-175{min-width:175px}
.width-min-200{min-width:200px}.width-min-225{min-width:225px}.width-min-250{min-width:250px}.width-min-275{min-width:275px}
.width-min-300{min-width:300px}.width-min-325{min-width:325px}.width-min-350{min-width:350px}.width-min-375{min-width:375px}
.width-min-400{min-width:400px}.width-min-425{min-width:425px}.width-min-450{min-width:450px}.width-min-475{min-width:475px}
.width-min-500{min-width:500px}.width-min-525{min-width:525px}.width-min-550{min-width:550px}.width-min-575{min-width:575px}
.width-min-600{min-width:600px}.width-min-625{min-width:625px}.width-min-650{min-width:650px}.width-min-675{min-width:675px}
.width-min-700{min-width:700px}.width-min-725{min-width:725px}.width-min-750{min-width:750px}.width-min-775{min-width:775px}
.width-min-800{min-width:800px}.width-min-825{min-width:825px}.width-min-850{min-width:850px}.width-min-875{min-width:875px}
.width-min-900{min-width:900px}.width-min-925{min-width:925px}.width-min-950{min-width:950px}.width-min-975{min-width:975px}
.width-min-1000{min-width:1000px}

.height-min-50{min-height:50px}.height-min-75{min-height:75px}
.height-min-100{min-height:100px}.height-min-125{min-height:125px}.height-min-150{min-height:150px}.height-min-175{min-height:175px}
.height-min-200{min-height:200px}.height-min-225{min-height:225px}.height-min-250{min-height:250px}.height-min-275{min-height:275px}
.height-min-300{min-height:300px}.height-min-325{min-height:325px}.height-min-350{min-height:350px}.height-min-375{min-height:375px}
.height-min-400{min-height:400px}.height-min-425{min-height:425px}.height-min-450{min-height:450px}.height-min-475{min-height:475px}
.height-min-500{min-height:500px}.height-min-525{min-height:525px}.height-min-550{min-height:550px}.height-min-575{min-height:575px}
.height-min-600{min-height:600px}.height-min-625{min-height:625px}.height-min-650{min-height:650px}.height-min-675{min-height:675px}
.height-min-700{min-height:700px}.height-min-725{min-height:725px}.height-min-750{min-height:750px}.height-min-775{min-height:775px}
.height-min-800{min-height:800px}.height-min-825{min-height:825px}.height-min-850{min-height:850px}.height-min-875{min-height:875px}
.height-min-900{min-height:900px}.height-min-925{min-height:925px}.height-min-950{min-height:950px}.height-min-975{min-height:975px}
.height-min-1000{min-height:1000px}

.padding-0{padding:0}.padding-1{padding:1px}.padding-2{padding:2px}.padding-3{padding:3px}.padding-4{padding:4px}.padding-5{padding:5px}.padding-6{padding:6px}.padding-7{padding:7px}.padding-8{padding:8px}.padding-9{padding:9px}.padding-10{padding:10px}
.padding-15{padding:15px}.padding-20{padding:20px}.padding-25{padding:25px}.padding-30{padding:30px}

.padding-top-1{padding-top:1px}.padding-top-2{padding-top:2px}.padding-top-3{padding-top:3px}.padding-top-4{padding-top:4px}.padding-top-5{padding-top:5px}.padding-top-6{padding-top:6px}.padding-top-7{padding-top:7px}.padding-top-8{padding-top:8px}.padding-top-9{padding-top:9px}.padding-top-10{padding-top:10px}
.padding-top-15{padding-top:15px}.padding-top-20{padding-top:20px}.padding-top-25{padding-top:25px}.padding-top-30{padding-top:30px}

.padding-bottom-1{padding-bottom:1px}.padding-bottom-2{padding-bottom:2px}.padding-bottom-3{padding-bottom:3px}.padding-bottom-4{padding-bottom:4px}.padding-bottom-5{padding-bottom:5px}.padding-bottom-6{padding-bottom:6px}.padding-bottom-7{padding-bottom:7px}.padding-bottom-8{padding-bottom:8px}.padding-bottom-9{padding-bottom:9px}.padding-bottom-10{padding-bottom:10px}
.padding-bottom-15{padding-bottom:15px}.padding-bottom-20{padding-bottom:20px}.padding-bottom-25{padding-bottom:25px}.padding-bottom-30{padding-bottom:30px}

.padding-left-1{padding-left:1px}.padding-left-2{padding-left:2px}.padding-left-3{padding-left:3px}.padding-left-4{padding-left:4px}.padding-left-5{padding-left:5px}.padding-left-6{padding-left:6px}.padding-left-7{padding-left:7px}.padding-left-8{padding-left:8px}.padding-left-9{padding-left:9px}.padding-left-10{padding-left:10px}
.padding-left-15{padding-left:15px}.padding-left-20{padding-left:20px}.padding-left-25{padding-left:25px}.padding-left-30{padding-left:30px}

.padding-right-1{padding-right:1px}.padding-right-2{padding-right:2px}.padding-right-3{padding-right:3px}.padding-right-4{padding-right:4px}.padding-right-5{padding-right:5px}.padding-right-6{padding-right:6px}.padding-right-7{padding-right:7px}.padding-right-8{padding-right:8px}.padding-right-9{padding-right:9px}.padding-right-10{padding-right:10px}
.padding-right-15{padding-right:15px}.padding-right-20{padding-right:20px}.padding-right-25{padding-right:25px}.padding-right-30{padding-right:30px}

.padding-x-1{padding:0 1px}.padding-x-2{padding:0 2px}.padding-x-3{padding:0 3px}.padding-x-4{padding:0 4px}.padding-x-5{padding:0 5px}.padding-x-6{padding:0 6px}.padding-x-7{padding:0 7px}.padding-x-8{padding:0 8px}.padding-x-9{padding:0 9px}.padding-x-10{padding:0 10px}
.padding-y-1{padding:1px 0}.padding-y-2{padding:2px 0}.padding-y-3{padding:3px 0}.padding-y-4{padding:4px 0}.padding-y-5{padding:5px 0}.padding-y-6{padding:6px 0}.padding-y-7{padding:7px 0}.padding-y-8{padding:8px 0}.padding-y-9{padding:9px 0}.padding-y-10{padding:10px 0}


.margin-0{margin:0}.margin-1{margin:1px}.margin-2{margin:2px}.margin-3{margin:3px}.margin-4{margin:4px}.margin-5{margin:5px}.margin-6{margin:6px}.margin-7{margin:7px}.margin-8{margin:8px}.margin-9{margin:9px}.margin-10{margin:10px}
.margin-15{margin:15px}.margin-20{margin:20px}.margin-25{margin:25px}.margin-30{margin:30px}

.margin-top-1{margin-top:1px}.margin-top-2{margin-top:2px}.margin-top-3{margin-top:3px}.margin-top-4{margin-top:4px}.margin-top-5{margin-top:5px}.margin-top-6{margin-top:6px}.margin-top-7{margin-top:7px}.margin-top-8{margin-top:8px}.margin-top-9{margin-top:9px}.margin-top-10{margin-top:10px}
.margin-top-15{margin-top:15px}.margin-top-20{margin-top:20px}.margin-top-25{margin-top:25px}.margin-top-30{margin-top:30px}

.margin-bottom-1{margin-bottom:1px}.margin-bottom-2{margin-bottom:2px}.margin-bottom-3{margin-bottom:3px}.margin-bottom-4{margin-bottom:4px}.margin-bottom-5{margin-bottom:5px}.margin-bottom-6{margin-bottom:6px}.margin-bottom-7{margin-bottom:7px}.margin-bottom-8{margin-bottom:8px}.margin-bottom-9{margin-bottom:9px}.margin-bottom-10{margin-bottom:10px}
.margin-bottom-15{margin-bottom:15px}.margin-bottom-20{margin-bottom:20px}.margin-bottom-25{margin-bottom:25px}.margin-bottom-30{margin-bottom:30px}

.margin-left-1{margin-left:1px}.margin-left-2{margin-left:2px}.margin-left-3{margin-left:3px}.margin-left-4{margin-left:4px}.margin-left-5{margin-left:5px}.margin-left-6{margin-left:6px}.margin-left-7{margin-left:7px}.margin-left-8{margin-left:8px}.margin-left-9{margin-left:9px}.margin-left-10{margin-left:10px}
.margin-left-15{margin-left:15px}.margin-left-20{margin-left:20px}.margin-left-25{margin-left:25px}.margin-left-30{margin-left:30px}

.margin-right-1{margin-right:1px}.margin-right-2{margin-right:2px}.margin-right-3{margin-right:3px}.margin-right-4{margin-right:4px}.margin-right-5{margin-right:5px}.margin-right-6{margin-right:6px}.margin-right-7{margin-right:7px}.margin-right-8{margin-right:8px}.margin-right-9{margin-right:9px}.margin-right-10{margin-right:10px}
.margin-right-15{margin-right:15px}.margin-right-20{margin-right:20px}.margin-right-25{margin-right:25px}.margin-right-30{margin-right:30px}

.margin-x-1{margin:0 1px}.margin-x-2{margin:0 2px}.margin-x-3{margin:0 3px}.margin-x-4{margin:0 4px}.margin-x-5{margin:0 5px}.margin-x-6{margin:0 6px}.margin-x-7{margin:0 7px}.margin-x-8{margin:0 8px}.margin-x-9{margin:0 9px}.margin-x-10{margin:0 10px}
.margin-y-1{margin:1px 0}.margin-y-2{margin:2px 0}.margin-y-3{margin:3px 0}.margin-y-4{margin:4px 0}.margin-y-5{margin:5px 0}.margin-y-6{margin:6px 0}.margin-y-7{margin:7px 0}.margin-y-8{margin:8px 0}.margin-y-9{margin:9px 0}.margin-y-10{margin:10px 0}


/********* color css *********/
.color-000{color:#000}
.color-111{color:#111}
.color-222{color:#222}
.color-333{color:#333}
.color-444{color:#444}
.color-555{color:#555}
.color-666{color:#666}
.color-777{color:#777}
.color-888{color:#888}
.color-999{color:#999}
.color-aaa{color:#aaa}
.color-bbb{color:#bbb}
.color-ccc{color:#ccc}
.color-ddd{color:#ddd}
.color-eee{color:#eee}
.color-fff{color:#fff}

.color-f00{color:#f00}
.color-0f0{color:#0f0}
.color-ff0{color:#ff0}
.color-00f{color:#00f}
.color-f0f{color:#f0f}
.color-0ff{color:#0ff}

.bgcolor-000{background-color:#000}
.bgcolor-111{background-color:#111}
.bgcolor-222{background-color:#222}
.bgcolor-333{background-color:#333}
.bgcolor-444{background-color:#444}
.bgcolor-555{background-color:#555}
.bgcolor-666{background-color:#666}
.bgcolor-777{background-color:#777}
.bgcolor-888{background-color:#888}
.bgcolor-999{background-color:#999}
.bgcolor-aaa{background-color:#aaa}
.bgcolor-bbb{background-color:#bbb}
.bgcolor-ccc{background-color:#ccc}
.bgcolor-ddd{background-color:#ddd}
.bgcolor-eee{background-color:#eee}
.bgcolor-fff{background-color:#fff}

.bgcolor-f00{background-color:#f00}
.bgcolor-0f0{background-color:#0f0}
.bgcolor-ff0{background-color:#ff0}
.bgcolor-00f{background-color:#00f}
.bgcolor-f0f{background-color:#f0f}
.bgcolor-0ff{background-color:#0ff}

.color-alice-blue{color:#f0f8ff}
.color-antique-white{color:#faebd7}
.color-aqua{color:#0ff}
.color-aquamarine{color:#7fffd4}
.color-azure{color:#f0ffff}
.color-beige{color:#f5f5dc}
.color-bisque{color:#ffe4c4}
.color-black{color:#000}
.color-blanchedalmond{color:#ffebcd}
.color-blue{color:#00f}
.color-blueviolet{color:#8a2be2}
.color-brown{color:#a52a2a}
.color-burly-wood{color:#deb887}
.color-cadet-blue{color:#5f9ea0}
.color-chartreuse{color:#7fff00}
.color-chocolate{color:#d2691e}
.color-coral{color:#ff7f50}
.color-cornflower-blue{color:#6495ed}
.color-cornsilk{color:#fff8dc}
.color-crimson{color:#dc143c}
.color-dark-blue{color:#00008b}
.color-dark-cyan{color:#008b8b}
.color-dark-gold-enrod{color:#b8860b}
.color-dark-gray{color:#a9a9a9}
.color-dark-green{color:#006400}
.color-dark-khaki{color:#bdb76b}
.color-dark-magenta{color:#8b008b}
.color-dark-olive-green{color:#556b2f}
.color-dark-orange{color:#ff8c00}
.color-dark-orchid{color:#9932cc}
.color-dark-red{color:#8b0000}
.color-dark-salmon{color:#e9967a}
.color-dark-sea-green{color:#8fbc8f}
.color-dark-slate-blue{color:#483d8b}
.color-dark-slate-gray{color:#2f4f4f}
.color-dark-turquoise{color:#00ced1}
.color-dark-violet{color:#9400d3}
.color-deep-pink{color:#ff1493}
.color-deepsky-blue{color:#00bfff}
.color-dimgray{color:#696969}
.color-dodger-blue{color:#1e90ff}
.color-firebrick{color:#b22222}
.color-floral-white{color:#fffaf0}
.color-forest-green{color:#228b22}
.color-fuchsia{color:#f0f}
.color-gainsboro{color:#dcdcdc}
.color-ghost-white{color:#f8f8ff}
.color-gold{color:#ffd700}
.color-gold-enrod{color:#daa520}
.color-gray{color:#808080}
.color-green{color:#008000}
.color-green-yellow{color:#adff2f}
.color-honeydew{color:#f0fff0}
.color-hot-pink{color:#ff69b4}
.color-indian-red{color:#cd5c5c}
.color-indigo{color:#4b0082}
.color-ivory{color:#fffff0}
.color-khaki{color:#f0e68c}
.color-lavender{color:#e6e6fa}
.color-lavender-blush{color:#fff0f5}
.color-lawn-green{color:#7cfc00}
.color-lemon-chiffon{color:#fffacd}
.color-light-blue{color:#add8e6}
.color-light-coral{color:#f08080}
.color-light-cyan{color:#e0ffff}
.color-light-gold-enrod-yellow{color:#fafad2}
.color-light-gray{color:#d3d3d3}
.color-light-green{color:#90ee90}
.color-light-pink{color:#ffb6c1}
.color-light-salmon{color:#ffa07a}
.color-light-sea-green{color:#20b2aa}
.color-light-sky-blue{color:#87cefa}
.color-light-slate-gray{color:#789}
.color-light-steel-blue{color:#b0c4de}
.color-light-yellow{color:#ffffe0}
.color-lime{color:#0f0}
.color-lime-green{color:#32cd32}
.color-linen{color:#faf0e6}
.color-magenta{color:#f0f}
.color-maroon{color:#800000}
.color-medium-aquamarine{color:#66cdaa}
.color-medium-blue{color:#0000cd}
.color-medium-orchid{color:#ba55d3}
.color-medium-purple{color:#9370db}
.color-medium-sea-green{color:#3cb371}
.color-medium-slate-blue{color:#7b68ee}
.color-medium-spring-green{color:#00fa9a}
.color-medium-turquoise{color:#48d1cc}
.color-medium-violet-red{color:#c71585}
.color-midnight-blue{color:#191970}
.color-mintcream{color:#f5fffa}
.color-mistyrose{color:#ffe4e1}
.color-moccasin{color:#ffe4b5}
.color-navajo-white{color:#ffdead}
.color-navy{color:#000080}
.color-oldlace{color:#fdf5e6}
.color-olive{color:#808000}
.color-olive-drab{color:#6b8e23}
.color-orange{color:#ffa500}
.color-orange-red{color:#ff4500}
.color-orchid{color:#da70d6}
.color-pale-gold-enrod{color:#eee8aa}
.color-pale-green{color:#98fb98}
.color-pale-turquoise{color:#afeeee}
.color-pale-violet-red{color:#db7093}
.color-papayawhip{color:#ffefd5}
.color-peachpuff{color:#ffdab9}
.color-peru{color:#cd853f}
.color-pink{color:#ffc0cb}
.color-plum{color:#dda0dd}
.color-powder-blue{color:#b0e0e6}
.color-purple{color:#800080}
.color-rebecca-purple{color:#663399}
.color-red{color:#f00}
.color-rosy-brown{color:#bc8f8f}
.color-royal-blue{color:#4169e1}
.color-saddle-brown{color:#8b4513}
.color-salmon{color:#fa8072}
.color-sandy-brown{color:#f4a460}
.color-sea-green{color:#2e8b57}
.color-seashell{color:#fff5ee}
.color-sienna{color:#a0522d}
.color-silver{color:#c0c0c0}
.color-sky-blue{color:#87ceeb}
.color-slate-blue{color:#6a5acd}
.color-slate-gray{color:#708090}
.color-snow{color:#fffafa}
.color-spring-green{color:#00ff7f}
.color-steel-blue{color:#4682b4}
.color-tan{color:#d2b48c}
.color-teal{color:#008080}
.color-thistle{color:#d8bfd8}
.color-tomato{color:#ff6347}
.color-turquoise{color:#40e0d0}
.color-violet{color:#ee82ee}
.color-wheat{color:#f5deb3}
.color-white{color:#fff}
.color-white-smoke{color:#f5f5f5}
.color-yellow{color:#ff0}
.color-yellow-green{color:#9acd32}

.bgcolor-alice-blue{background-color:#f0f8ff}
.bgcolor-antique-white{background-color:#faebd7}
.bgcolor-aqua{background-color:#0ff}
.bgcolor-aquamarine{background-color:#7fffd4}
.bgcolor-azure{background-color:#f0ffff}
.bgcolor-beige{background-color:#f5f5dc}
.bgcolor-bisque{background-color:#ffe4c4}
.bgcolor-black{background-color:#000}
.bgcolor-blanchedalmond{background-color:#ffebcd}
.bgcolor-blue{background-color:#00f}
.bgcolor-blueviolet{background-color:#8a2be2}
.bgcolor-brown{background-color:#a52a2a}
.bgcolor-burly-wood{background-color:#deb887}
.bgcolor-cadet-blue{background-color:#5f9ea0}
.bgcolor-chartreuse{background-color:#7fff00}
.bgcolor-chocolate{background-color:#d2691e}
.bgcolor-coral{background-color:#ff7f50}
.bgcolor-cornflower-blue{background-color:#6495ed}
.bgcolor-cornsilk{background-color:#fff8dc}
.bgcolor-crimson{background-color:#dc143c}
.bgcolor-dark-blue{background-color:#00008b}
.bgcolor-dark-cyan{background-color:#008b8b}
.bgcolor-dark-gold-enrod{background-color:#b8860b}
.bgcolor-dark-gray{background-color:#a9a9a9}
.bgcolor-dark-green{background-color:#006400}
.bgcolor-dark-khaki{background-color:#bdb76b}
.bgcolor-dark-magenta{background-color:#8b008b}
.bgcolor-dark-olive-green{background-color:#556b2f}
.bgcolor-dark-orange{background-color:#ff8c00}
.bgcolor-dark-orchid{background-color:#9932cc}
.bgcolor-dark-red{background-color:#8b0000}
.bgcolor-dark-salmon{background-color:#e9967a}
.bgcolor-dark-sea-green{background-color:#8fbc8f}
.bgcolor-dark-slate-blue{background-color:#483d8b}
.bgcolor-dark-slate-gray{background-color:#2f4f4f}
.bgcolor-dark-turquoise{background-color:#00ced1}
.bgcolor-dark-violet{background-color:#9400d3}
.bgcolor-deep-pink{background-color:#ff1493}
.bgcolor-deepsky-blue{background-color:#00bfff}
.bgcolor-dimgray{background-color:#696969}
.bgcolor-dodger-blue{background-color:#1e90ff}
.bgcolor-firebrick{background-color:#b22222}
.bgcolor-floral-white{background-color:#fffaf0}
.bgcolor-forest-green{background-color:#228b22}
.bgcolor-fuchsia{background-color:#f0f}
.bgcolor-gainsboro{background-color:#dcdcdc}
.bgcolor-ghost-white{background-color:#f8f8ff}
.bgcolor-gold{background-color:#ffd700}
.bgcolor-gold-enrod{background-color:#daa520}
.bgcolor-gray{background-color:#808080}
.bgcolor-green{background-color:#008000}
.bgcolor-green-yellow{background-color:#adff2f}
.bgcolor-honeydew{background-color:#f0fff0}
.bgcolor-hot-pink{background-color:#ff69b4}
.bgcolor-indian-red{background-color:#cd5c5c}
.bgcolor-indigo{background-color:#4b0082}
.bgcolor-ivory{background-color:#fffff0}
.bgcolor-khaki{background-color:#f0e68c}
.bgcolor-lavender{background-color:#e6e6fa}
.bgcolor-lavender-blush{background-color:#fff0f5}
.bgcolor-lawn-green{background-color:#7cfc00}
.bgcolor-lemon-chiffon{background-color:#fffacd}
.bgcolor-light-blue{background-color:#add8e6}
.bgcolor-light-coral{background-color:#f08080}
.bgcolor-light-cyan{background-color:#e0ffff}
.bgcolor-light-gold-enrod-yellow{background-color:#fafad2}
.bgcolor-light-gray{background-color:#d3d3d3}
.bgcolor-light-green{background-color:#90ee90}
.bgcolor-light-pink{background-color:#ffb6c1}
.bgcolor-light-salmon{background-color:#ffa07a}
.bgcolor-light-sea-green{background-color:#20b2aa}
.bgcolor-light-sky-blue{background-color:#87cefa}
.bgcolor-light-slate-gray{background-color:#789}
.bgcolor-light-steel-blue{background-color:#b0c4de}
.bgcolor-light-yellow{background-color:#ffffe0}
.bgcolor-lime{background-color:#0f0}
.bgcolor-lime-green{background-color:#32cd32}
.bgcolor-linen{background-color:#faf0e6}
.bgcolor-magenta{background-color:#f0f}
.bgcolor-maroon{background-color:#800000}
.bgcolor-medium-aquamarine{background-color:#66cdaa}
.bgcolor-medium-blue{background-color:#0000cd}
.bgcolor-medium-orchid{background-color:#ba55d3}
.bgcolor-medium-purple{background-color:#9370db}
.bgcolor-medium-sea-green{background-color:#3cb371}
.bgcolor-medium-slate-blue{background-color:#7b68ee}
.bgcolor-medium-spring-green{background-color:#00fa9a}
.bgcolor-medium-turquoise{background-color:#48d1cc}
.bgcolor-medium-violet-red{background-color:#c71585}
.bgcolor-midnight-blue{background-color:#191970}
.bgcolor-mintcream{background-color:#f5fffa}
.bgcolor-mistyrose{background-color:#ffe4e1}
.bgcolor-moccasin{background-color:#ffe4b5}
.bgcolor-navajo-white{background-color:#ffdead}
.bgcolor-navy{background-color:#000080}
.bgcolor-oldlace{background-color:#fdf5e6}
.bgcolor-olive{background-color:#808000}
.bgcolor-olive-drab{background-color:#6b8e23}
.bgcolor-orange{background-color:#ffa500}
.bgcolor-orange-red{background-color:#ff4500}
.bgcolor-orchid{background-color:#da70d6}
.bgcolor-pale-gold-enrod{background-color:#eee8aa}
.bgcolor-pale-green{background-color:#98fb98}
.bgcolor-pale-turquoise{background-color:#afeeee}
.bgcolor-pale-violet-red{background-color:#db7093}
.bgcolor-papayawhip{background-color:#ffefd5}
.bgcolor-peachpuff{background-color:#ffdab9}
.bgcolor-peru{background-color:#cd853f}
.bgcolor-pink{background-color:#ffc0cb}
.bgcolor-plum{background-color:#dda0dd}
.bgcolor-powder-blue{background-color:#b0e0e6}
.bgcolor-purple{background-color:#800080}
.bgcolor-rebecca-purple{background-color:#663399}
.bgcolor-red{background-color:#f00}
.bgcolor-rosy-brown{background-color:#bc8f8f}
.bgcolor-royal-blue{background-color:#4169e1}
.bgcolor-saddle-brown{background-color:#8b4513}
.bgcolor-salmon{background-color:#fa8072}
.bgcolor-sandy-brown{background-color:#f4a460}
.bgcolor-sea-green{background-color:#2e8b57}
.bgcolor-seashell{background-color:#fff5ee}
.bgcolor-sienna{background-color:#a0522d}
.bgcolor-silver{background-color:#c0c0c0}
.bgcolor-sky-blue{background-color:#87ceeb}
.bgcolor-slate-blue{background-color:#6a5acd}
.bgcolor-slate-gray{background-color:#708090}
.bgcolor-snow{background-color:#fffafa}
.bgcolor-spring-green{background-color:#00ff7f}
.bgcolor-steel-blue{background-color:#4682b4}
.bgcolor-tan{background-color:#d2b48c}
.bgcolor-teal{background-color:#008080}
.bgcolor-thistle{background-color:#d8bfd8}
.bgcolor-tomato{background-color:#ff6347}
.bgcolor-turquoise{background-color:#40e0d0}
.bgcolor-violet{background-color:#ee82ee}
.bgcolor-wheat{background-color:#f5deb3}
.bgcolor-white{background-color:#fff}
.bgcolor-white-smoke{background-color:#f5f5f5}
.bgcolor-yellow{background-color:#ff0}
.bgcolor-yellow-green{background-color:#9acd32}



.border-radius-0{border-radius: 0}
.border-radius-1{border-radius: 1px}
.border-radius-2{border-radius: 2px}
.border-radius-3{border-radius: 3px}
.border-radius-4{border-radius: 4px}
.border-radius-5{border-radius: 5px}
.border-radius-6{border-radius: 6px}
.border-radius-7{border-radius: 7px}
.border-radius-8{border-radius: 8px}
.border-radius-9{border-radius: 9px}
.border-radius-10{border-radius: 10px}
.border-radius-11{border-radius: 11px}
.border-radius-12{border-radius: 12px}
.border-radius-13{border-radius: 13px}
.border-radius-14{border-radius: 14px}
.border-radius-15{border-radius: 15px}
.border-radius-16{border-radius: 16px}
.border-radius-17{border-radius: 17px}
.border-radius-18{border-radius: 18px}
.border-radius-19{border-radius: 19px}
.border-radius-20{border-radius: 20px}
.border-radius-21{border-radius: 21px}
.border-radius-22{border-radius: 22px}
.border-radius-23{border-radius: 23px}
.border-radius-24{border-radius: 24px}
.border-radius-25{border-radius: 25px}
.border-radius-26{border-radius: 26px}
.border-radius-27{border-radius: 27px}
.border-radius-28{border-radius: 28px}
.border-radius-29{border-radius: 29px}



.disnon{display:none}
/********* print css *********/
.Noprint{}
@media print{.Noprint{display:none}}